<section class="case-study-home">
  <div class="container">
    <div class="top-content">
      <h2 class="section-title">Case studies</h2>
    </div>
    <div class="row">
      <!-- Case Study 1 (Light) -->
      <div class="case-col">
        <div class="case-study-block">
          <a href="#">
            <div class="top-area" style="background:#F3F5FB">
              <div class="top-bg-img">
                <img src="https://rocket-saas.io/wp-content/uploads/2025/07/RAM-Tracking-Light.png" alt="Case Study 1 graphic" class="case-img" />
              </div>
              <div class="case-study-content" style="font-family: 'Montserrat', Arial, sans-serif;">
                <h4 style="font-family: 'Montserrat', Arial, sans-serif; font-weight: 700;">Case Study Title</h4>
                <p style="font-family: 'Inter', Arial, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisi eu consectetur.</p>
                <a class="site-btn" href="#">Read more <span>&rarr;</span></a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- Case Study 2 (Dark) -->
      <div class="case-col">
        <div class="case-study-block">
          <a href="#">
            <div class="top-area white-txt" style="background:#160647">
              <div class="top-bg-img">
                <img src="https://rocket-saas.io/wp-content/uploads/2025/07/SurveySphere-Dark.png" alt="Case Study 2 graphic" class="case-img" />
              </div>
              <div class="case-study-content" style="font-family: 'Montserrat', Arial, sans-serif;">
                <h4 style="font-family: 'Montserrat', Arial, sans-serif; font-weight: 700;">Case Study Title</h4>
                <p style="font-family: 'Inter', Arial, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisi eu consectetur.</p>
                <a class="site-btn" href="#">Read more <span>&rarr;</span></a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
