<section class="client-logos-section">
  <div class="client-logos-bg">
    <!-- Optional: Canvas for background animation -->
    <canvas class="client-logos-canvas" width="1440" height="205" style="width: 100%; height: 140px;"></canvas>
  </div>
  <div class="client-logos-marquee">
    <div class="client-logos-list">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Quora_logo_2015.svg" alt="Quora" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/HubSpot_Logo.svg" alt="HubSpot" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Tinder_logo.svg" alt="Tinder" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg" alt="Airbnb" />
      <!-- Duplicate for seamless loop -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Quora_logo_2015.svg" alt="Quora" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/HubSpot_Logo.svg" alt="HubSpot" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Tinder_logo.svg" alt="Tinder" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_Bélo.svg" alt="Airbnb" />
    </div>
  </div>
</section>
