<section class="connect-section">
  <h2 class="section-title">Let's Connect</h2>
  <div class="connect-form-wrapper">
    <form>
      <div class="connect-form-row">
        <input class="connect-input" type="email" name="email" aria-label="Enter your email to subscribe to the newsletter" placeholder="Enter your email..." autocomplete="off" required>
  <button class="site-btn" type="submit">Join Newsletter</button>
      </div>
    </form>
  </div>
</section>
