<a class="site-btn" href="https://cal.com/allyoucan/30min" target="_blank" rel="noopener">
  <img class="hero-avatar" src="https://framerusercontent.com/images/imJDZjVg5EZZ2VxNu5rnw1H7t8.png" alt="Marc avatar">
  Book a Call with Marc
</a>
