<section class="hero-section">
    <video class="hero-bg-video" autoplay muted loop playsinline>
        <source src="video/hero-video.mp4" type="video/mp4"> Your browser does not support the video tag.
    </video>
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1 class="heading-light">Transform your business with a virtual tour</h1>
        <div class="hero-subcopy">
            <p>Unlock new possibilities with a custom virtual tour<br>For over 12 years, we've helped leading brands and local
                businesses create powerful digital experiences, from immersive Google tours to detailed virtual twins for space
                management and internal training.</p>
            <p>Whatever your sector, we deliver innovative, tailored solutions that help you save time, improve efficiency, and
                engage your audience.</p>
        </div>
        <a class="site-btn" href="https://cal.com/karl-mcclelland-m2ppu8/" target="_blank" rel="noopener">
            <img class="hero-avatar" src="images/karlprofile.jpg" alt="Karl avatar"> Book a Call with Karl
        </a>
    </div>
</section>