---
layout: base.njk
title: Home Page
---

{% include "hero/hero.njk" %}
{% include "client-showcase.njk" %}
{% include "vertical-panels.njk" %}
{% include "mainpanels.njk" %}
{% include "use-cases.njk" %}
{% include "testimonials.njk" %}
{% include "contact.form.njk" %}
{# Removed get-started form section #}
{% include "connect.njk" %}
{% include "footer.njk" %}